$header-height: 76px;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px 40px 0;

  &__section {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: $header-height;
    height: $header-height;
  }

  &__toggle,
  &__toggle-label {
    display: none;
  }

  &__toggle-label {
    position: relative;
    width: $header-height;
    height: $header-height;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 2;

      background: url("../images/icons/toggle_closed.png") no-repeat center;
      cursor: pointer;
    }
  }

  &__toggle:checked ~ &__toggle-label::after {
    background: url("../images/icons/toggle_open.png") no-repeat center;
  }

  @media (max-width: 1140px) {
    & {
      justify-content: flex-end;
      height: $header-height;
      padding: 0;

      background-color: white;
    }

    &__logo-section {
      display: none;
    }

    &__toggle-label {
      display: block;
    }
  }
}
