.promo {
  display: flex;
  justify-content: center;
  padding: 85px 12%;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: right;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  &__heading {
    font-size: 70px;
    line-height: 1em;
    letter-spacing: 4px;
  }

  &__text {
    margin: 42px 5px 0 0;

    font-size: 16px;
  }

  @media (max-width: 1300px) {
    &__heading {
      font-size: 60px;
    }

    &__text {
      font-size: 14px;
    }
  }

  @media (max-width: 1200px) {
    &__heading {
      font-size: 50px;
    }

    &__text {
      font-size: 12px;
    }
  }

  @media (max-width: 1140px) {
    & {
      display: none;
    }
  }

  @media (min-width: 1600px) {
    &__heading {
      font-size: 100px;
    }

    &__text {
      font-size: 20px;
    }
  }
}
